*{
  margin: 0.5rem;
  padding: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
    background-color: white;
    padding: 0.3rem;
}
input[type="text"] {
  -moz-appearance: textfield;
    background-color: white;
    padding: 0.3rem;
}


form{
  padding: 0.3rem;
  display: flex;
  flex-direction: column; 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0 2px 8px white (0, 0, 0, 1); 
  width: 500px;
  height: 790px;
  text-align:start;
  font-family: monospace;
  font-size: large;
}
input[type="submit"] {
  width: 30%;
  height:3vh;
  padding: 0.3rem;
  background-color: white;
  margin-top: 0.4rem;
}
input{
 background-color: white;
 padding: 0.7rem; 

}

.option{
  background-color: cornsilk;
}

select{
background-color: white;
padding: 0.3rem;
}


h1{
   text-align: center;
}

