.navbar{
    display: none !important;
    width: 100%;
    float: right !important;
    background-color: rgb(94, 71, 71) ;
    /* height: 20vh; */
}

a {
    color: #9ffd0d !important;
    text-decoration: none !important;
}